.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.db
*.RData
*.log
*.tex
*.pdf
*.png
*.css
*.cs
test*
/article/
/data/
/notes/
/figures/
/results/
old*/
older_versions/
iNEXT.link/
r-code/00_1_phylogeny.Rmd
r-code/00_2_orgiginal_data.Rmd
r-code/00_3_rawdata.Rmd